.wrapper {
    background-color: #0f56aa;
   
}

.wrapper h1 {
    text-align: center;
    color: white;
    padding: 22px;
    font-size: 62px;
}

.wrapper .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 57px;
}

.wrapper .title img {
    width: 100px;
}

.wrapper .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 26px;
    justify-content: center;
}

.items .item {
    width: 209px;
    height: 180px;
    background-color: rgba(80, 124, 176, 1);
    display: flex;
    flex-direction: column;
    /* padding: 58px; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 18px;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.items .item img {
    width: fit-content;
}

.items .item h2 {
    color: white;
    padding: 13px;
}



@media only screen and (min-width:992px) and (max-width:1023px) {
    .items .item {
        width: 28%;
    }

    .items .item img {
        width: fit-content;
    }

    .wrapper .items {
        justify-content: center;
    }
}

@media only screen and (min-width:767px) and (max-width:991px) {
    .items .item {
        width: 28%;
    }

    .items .item img {
        width: fit-content;
    }

    .wrapper .items {
        justify-content: center;
    }
}

@media only screen and (max-width:768px) {
    .items .item {
        width: 38%;
    }

    .items .item img {
        width: fit-content;
    }

    .wrapper .items {
        justify-content: center;
    }
}


@media only screen and (max-width:400px) {
    .items .item {
        width: 96%;
    }

    .items .item img {
        width: fit-content;
    }

    .wrapper .items {
        justify-content: center;
    }

    .wrapper h1{
        font-size: 46px;
    }
}

